body{
background-image: url("mesi.webp");
background-repeat:no-repeat;
background-attachment:fixed;
background-position: center;
background-size: cover;

    
}
h1{
    color:white;
    font-family: sans-serif;
}
p{
    background: linear-gradient(to bottom,skyblue, black);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#p1 {
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;

}

.even {
    color:red;
    border-style: outset;
    border-width: 10px;
    border-color: gold;
    padding: 10px
}

.odd {
    border-top-style:dotted;
    border-bottom-style:dotted;
    border-left-style: double;
    border-left-width:20px;
    border-left-color: green;

}

#boks1 {
    border: 10px solid;
    width: 300px;
    height: 300px;
    font-size: 20px;
    background:gold;

    /*
    margin-top: 50px;
    margin-left: 50px;
    margin:50px;
    */
    margin-right:auto;
    margin-left:auto;
}

#boks2 {
    border: 10px solid;
    width: 300px;
    height: 300px;
    font-size: 20px;
    background:silver;

    margin-right:auto;
    margin-left:auto;
}

#bilde {
    border-style: outset;
    border-width: 10px;
    border-color: gold;
    padding: 10px
}

img{
    float: right;

}

.box{
    width:150px;
    height: 150px;
    border: 5px solid;
    font-size: 40px;
    text-align: center;
    background: aqua;

    float:right;
}