#overskrift {
    background:linear-gradient(to bottom,skyblue,beige);
    height: 100px;
    font-size:40px;
    text-align: center;
    margin-top:-55px;
    font-family:sans-serif;
    color:grey;

    position:sticky;    
}

body {
    background-color:white;
}

#meny {
    background:linear-gradient(to bottom, beige, white);
    position:sticky;
    margin-top:-20px;
    color:black;
    text-align: center;
    font-family: sans-serif;
}

button{
    color:white;
    background-color: blue;

}

#home {
    margin-right:auto;
}